<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/popper/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <title>Mercado Web</title>
</head>

<body>
        {{> menu}}

    <div class="col d-flex justify-content-center py-4">
        {{{body}}}
    </div>

</body>

</html>